@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C5E4E7;
}

.logo {
    margin: 50px 0;
}

.main-container {
    background-color: #FFFFFF;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;
    padding: 32px;
    max-width: 100%;
}

.text {
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin-bottom: 6px;
}

input {
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #00474B;
    background: #F3F9FA;
    border-radius: 5px;
    border: none;
    padding-right: 18px;  
    margin-bottom: 32px;
    outline-color: #26C2AE;
}

.dollar {
    background-image: url("../images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
}

.person {
    background-image: url("../images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
}

form {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(146.63px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
    margin-top: 10px;
}

.grid-item {
    height: 48px;
    background: #00474B;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    border: none;
}

.custom {
    background-color: #F3F9FA;
    color: #547878;
}

.green {
    background: #00474B;
    border-radius: 15px;
    padding: 32px 24px 24px;
}

.tip-amount, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.tip-amount {
    margin-bottom: 25px;
}

.total {
    margin-bottom: 35px;
}

.reset {
    width: 100%;
    height: 48px;
    background: #26C2AE;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00474B;
}

.amount-total-txt {
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #26C2AE;
}

.person-small-txt {
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

.active-btn {
    background-color: #26C2AE;
    color: #00474B;;
}

.attribution { 
    margin: 20px 0;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Styles for Desktop */

@media only screen and (min-width: 992px) {
    .main-container {
        display: flex;
    }
    .green {
        min-width: 413px;
        height: 100%;
        margin-left: 48px;
        padding: 40px;
    }
    .amount-total-txt {
        font-size: 48px;
    }
    .reset {
        margin-top: 134px;
    }
}